span#bh-date {
	color: rgba(255, 0, 0, 0.524) !important;
	font-weight:bold;
	/* visibility: hidden; */
}

/* span#bh-date:after {
	content: '1174 days left';
	visibility: visible;
	display: block;
	position: absolute;
} */
